.container  {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   position: relative;
   margin: 0;
   background: #000;
}

.scene {
   margin: 0;
}

.background  {
   top: -10vh;
   left: calc(50vw - 121.2vh);
}

.layer div  {
   position: absolute;
}

.totoro {
   top: 70vh;
   left:5vw;
}

.evangelion {
   top: 10vh;
   left: calc(40vw - 67vh);
}

.snow{
   opacity: 0.25;
   top: -2vh;
   left: -25vw;
}

.forest{
   top: 55vh;
   left: -15vw;
}

.sao {
   top: 60vh;
   left: calc(100vw - 55vh);
}

.scarlet {
   top: 55vh;
   left: 15vw;
}

.fireflies {
   top: 30vh;
   left: 40vw;
}
