* {
  box-sizing: border-box;
}

@font-face {
    font-family: pixelFont;
    src: url(../minecraftia/Minecraftia-Regular.ttf);
}

html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background: black url("../img/game/kirito.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  font-family: pixelFont;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
 color:inherit;
 text-decoration: none;
}

.solid {
   display: none;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
  not supported by any browser */
}

/* game elements */

#gameBox {
   background: url("../img/game/levels/level1.png");
   background-color: white;
   height: 384px;
   width: 768px;
   position: fixed;
   top: calc(50vh - 192px);
   left: calc(50vw - 384px);
   border: solid white 1px;
   overflow: hidden;
}

.npc {
   cursor: pointer;
}

#grass {
   width: 768px;
   height: 112px;
   position: absolute;
   background: url('../img/game/sprites/grass.png');
}

#mainChar {
   width: 32px;
   height: 32px;
   background-color: white;
   position: absolute;
   background: url('../img/game/sprites/kirito.png') 0 0;
}

#asuna {
   width: 32px;
   height: 32px;
   background-color: white;
   position: absolute;
   background: url('../img/game/gifs/asuna2.gif') 0 0;
}

#tree {
   width: 64px;
   height: 64px;
   position: absolute;
   background: url('../img/game/sprites/tree.png') 0 0;
}
