.grid {
   background: rgba(0, 0, 0, 0.8);
   position: relative;
   margin: 15px;
   width: calc(100% - 30px) !important;
}

.grid-sizer {
   width: 10%;
}

.grid-item {
   width: 20%;
}

.grid-item--width2 {
   width: 10%;
}

.grid-item--width3 {
   width: 20%;
}

.grid-item--width4 {
   width: 10%;
}

.grid-item--width5 {
   width: 40%;
}

.grid-item--width6 {
   width: 20%;
}

.grid-item {
   float: left;
   opacity: 0;
   transition: opacity 0.4s;
}

.grid-item:hover {
   opacity: 1;
}

.grid-item img {
   display: block;
   width: 100%;
}

.gigante {
   width: 40%;
}
