* {
   box-sizing: border-box;
}

body{
   margin: 0;
   background-color: white;
   position: relative;
   width: 100%;
   font-family: 'Roboto', sans-serif;
}

.noselect {
   cursor: default;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;    /* Konqueror */
   -moz-user-select: none;      /* Firefox */
   -ms-user-select: none;       /* IE/Edge */
   user-select: none;           /* non-prefixed version, currently
   not supported by any browser */
}

#loadingScreen{
   position: fixed;
   top: 0; left: 0;
   width: 100%;
   height: 100vh;
   background-color: white;
   z-index: 10;
}

.loadElement{
   display: none;
}

#loadingGif{
   height: 25vh;
   bottom: 10vh;
   right: 5vw;
   position: absolute;;
   z-index: 100;
}

#Sinon{
   height: 35vh;
   position: absolute;
   bottom: 0;
   left: 0;
}

.section{
   width: 100%;
   position: relative;
   overflow: hidden;
   height: 100vh;
}

#menu{
   position: relative;
   width: 100%;
   height: 70px;
   left: 0;
   top: 0;
   color: rgb(149,149,149);
   background-color: white;
   font-size: 20px;
   font-weight: 700;
   text-align: center;
   border-bottom: solid rgb(13,13,13) 1px;
   z-index: 15;
}

#menu.affix{
    position:fixed;
    top:0;
    right:0;
}

.menuSelector{
   width: auto;
   margin: 0;
   padding-left: 30px;
   padding-right: 30px;
   height: 70px;
   line-height: 70px;
   position: relative;
   float: left;
   transition: color 0.55s;
   cursor: pointer;
}

#menuBar{
   margin: 0;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
   height: 6px;
}

#blueTween{
   position: absolute;
   background-color: rgb(116, 0, 2);
   height: 100%;
   left: 50px;
}

#menu1{
   margin-left: 50px;
}

#nav{
   position: relative;
   float: right;
   height: 100%;
   line-height: 70px;
   font-size: 40px;
   margin-right: 20px;
   cursor: pointer;
}

.fa{
   transition: color 0.25s;
   color: rgba(116, 0, 2, 0.4)
}

.fa:hover{
   color: rgb(0, 73, 14);
}
