* {
   box-sizing: border-box;
}

html{
   margin: 0;
   width: 100%;
   overflow-x: hidden;
}

body{
   background-color: white;
   position: absolute;
   margin: 0;
   top: 0;
   left: 0;
   font-family: 'Roboto', sans-serif;
   width: 100%;
   overflow-y: hidden;
}

.noselect{
   cursor: default;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;    /* Konqueror */
   -moz-user-select: none;      /* Firefox */
   -ms-user-select: none;       /* IE/Edge */
   user-select: none;           /* non-prefixed version, currently
   not supported by any browser */
}

#mySite{
   background-color: white;
   overflow: hidden;
   width: 100%;
}

#loadingBar{
   width: 96%;
   margin-left: 2%;
   border: solid black 5px;
   border-radius: 20px;
   overflow: hidden;
   text-align: center;
}

#loadedPercentage{
   position: relative;
   height: 100%;
   width: 0;
   background-color: rgb(116, 0, 2);
   margin-left: 0;
   z-index: 15;
   font-weight: 900;
   color: white;
}

#loadingScreen{
   position: fixed;
   top: 0; left: 0;
   width: 100%;
   height: 100vh;
   background-color: white;
   z-index: 10;
   text-align: center;
}

.loadElement{
   display: none;
}

.section{
   width: 100%;
   position: relative;
   overflow: hidden;
}

#prezentare{
   background: white url("../img/parallax/mountains.jpg");
   background-size: cover;
   background-position: bottom;
   height: 200vh;
}

#menuFill{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50px;
   background-color: white;
}

#menu{
   display: block;
   position: absolute;
   width: 100%;
   left: 0;
   top: calc(100vh + 50px);
   color: rgb(149,149,149);
   background-color: white;
   font-weight: 700;
   text-align: center;
   border-bottom: solid rgb(13,13,13) 1px;
   z-index: 15;
}

#menu.affix{
   position: fixed !important;
   top: 0;
   left: 0;
}

.menuSelector{
   width: auto;
   margin: 0;
   position: relative;
   float: left;
   transition: color 0.55s;
   cursor: pointer;
}

#menuBar{
   margin: 0;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: 0;
   height: 6px;
}

#blueTween{
   position: absolute;
   background-color: rgb(116, 0, 2);
   height: 100%;
}

#nav{
   position: relative;
   float: right;
   height: 100%;
   cursor: pointer;
}

.fa{
   transition: color 0.25s;
   color: rgb(149,149,149);
}

.fa:hover{
   color: rgb(116, 0, 2);
}

#prezentareImg{
   height: 60vh;
   position: absolute;
   left: -10vw;
   bottom: 100vh;
}

#prezentareImg.affix{
   position: fixed;
   bottom: 0;
   left: 10vw;
}

#prezentareImg.bottomSticky{
   position: absolute;
   bottom: 0;
   left: 10vw;
}

#prezentareTxt{
   -webkit-font-smoothing: antialiased;
   text-align: center;
   position: absolute;
   width: 40vw;
   top: 50vh;
   right: 50px;
   font-weight: 700;
   transform: scale(0.7) translateY(-50%);
   transform-origin: center center;
   margin: 0;
}

#prezentareTxt.affix{
   position: fixed;
   right: 50px;
   top: 50vh;
}

#prezentareTxt.bottomSticky{
   position: absolute;
   right: 50px;
   top: 150vh;
}

#timeline-embed{
   margin: 15px;
   width: calc(100% - 30px);
   height: calc(100vh - 80px);
   opacity: 0;
}

.tl-text-content p{
   font-size: 2.2vh !important;
   line-height: 2.4vh !important;
   font-weight: 100 !important;
}

h3.tl-headline-date{
   font-size: 2vh !important;
   line-height: 2vh !important;
   font-weight: 700 !important;
}

div.tl-slide-content, div.tl-slide-scrollable-container, div.tl-slide-content-container{
   min-width: 100% !important;
}

#istoric{
   background: white url("../img/parallax/history.jpg");
   background-size: cover;
   background-position: center;
}

#impact{
   background: white;
   height: 500px;
}

video {
	width: 100%;
	height: 100%;
	display: inline-block;
 	vertical-align: baseline;
}

.video-wrap {
	height: 100%;
	width: 100%;
   z-index: 12;
}

#video-overlay-text{
   position: absolute;
   display: block;
   color: white;
   font-size: 25px;
   font-weight: 100;
   width: 300px;
   top: 250px;
   transform: translateY(-50%);
   left: calc(50% - 150px);
   text-align: center;
}

#video-overlay{
   background-color: black;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 1;
   z-index: 13;
   color: white;

}

#interactiv{
   height: calc(100vh - 50px);
}
